<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Здравствуй, {{ user.username }}. Список новых статей за прошедшую неделю!</h2>
    {% for post in posts %}
    {% if post.type == 1 and %}
    {{ post.head }}: {{ post.text|truncatechars:20 }} <br>
    <p>Статья доступна по <a href="http://127.0.0.1:8000/articles/{{ post.id }}">ссылке</a></p>
    {% else %}
    {{ post.head }}: {{ post.text|truncatechars:20 }} <br>
    <p>Статья доступна по <a href="http://127.0.0.1:8000/news/{{ post.id }}">ссылке</a></p>
    {% endif %}
    {% endfor %}
</body>
</html>